:root{
    --Roxo_claro: #633BBC;
    --Cinza_Medio: #323238;
    --Cinza_Claro: #E1E1E6;
}

*{
    margin: 0;
    padding: 0;
}

/* CORPO */

body{
    display: flex;
    font-family: 'Roboto';  
    font-weight: bold; 
}

.container{
    width: 500px;
    height: 310px;
    position: absolute;
    flex-direction: column; /* Empilha as divs verticalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 3px solid #32323829;
    border-radius: 1%;

    -webkit-box-shadow: 5px 5px 5px 0px #0000006f, -50px -50px 0px -30px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #0000003e, -50px -50px 0px -30px rgba(0,0,0,0);
}






