:root{
    --Roxo_claro: #633BBC;
    --Cinza_Medio: #323238;
    --Cinza_Claro: #E1E1E6;
}

*{
    margin: 0;
    padding: 0;
}

/* CORPO */

body{
    display: flex;
    font-family: 'Roboto';  
    font-weight: bold; 
}

.container{
    width: 500px;
    height: 400px;
    position: absolute;
    flex-direction: column; /* Empilha as divs verticalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 3px solid black;
    border-radius: 1%;
}

/* MENU STEPS */

.stpes{
    height: 50px;
    display: flex;
    justify-content: space-between; /* Espaço entre os itens */
}

.left {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}

.center {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
}

.right {
    display: flex; 
    margin-top: 15px;
    margin-right: 15px;
}

span{
    margin-left: 50px;
}

a{
    width: 20px;
    height: 20px;

   text-decoration: none;
   border-radius: 50%;

   background-color: #633BBC;
   color: white;
   margin-right: 5px;
   
}

/* ESTILO SETAS */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    
    
}

/* INPUTS */

.inputs{
    height: 300px;
    display: flex;
}

.inputs div{
    display: grid;
    margin-left: 20px;
}

textarea{
    width: 450px;
}





/* BOTÕES */

.buton{
    height: 50px;
    display: flex;
    justify-content: space-between;

}

.btn{
    width: 150px;
    height: 35px;

    margin-left: 15px;
    margin-top: 7px;

    border: 2px solid #633BBC;
    border-radius: 5px;
    background-color: #633BBC;
    color: white;
}

.btn:hover{
    background-color: white;
    color: #633BBC;
}

#continuar{
    margin-right: 15px;
}



